body {
  background-image: url("../image/new-photo.jpg");
  margin: 0 80px;
  max-width: 100%;
}
h1,
h2,
h3 {
  text-align: center;
}
form {
  text-align: right;
  line-height: 20px;
  margin: 4px 0 0;
}

h1 {
  margin: 5px 0 10px;
  font-size: 48px;
  color: rgb(170, 12, 44);
  font-weight: 900;
  border-radius: 25px;
}
h2 {
  margin: -170px 275px 1px 0;
  line-height: 45px;
  color: #ddcdcd;
}
h3 {
  text-align: center;
  font-size: 24px;
  margin-top: -65px;
  margin-bottom: 20px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
  color: #0e041a;
}
p {
  text-align: center;
  margin: 10px 0 5px;
  color: #ffffff;
}
.border-context {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 15px;
  background-color: rgb(125, 108, 186);
  opacity: 0.9;
  border: 0.7rem solid rgb(60, 46, 109);
  outline: 0.7rem solid rgb(63, 45, 127);
  box-shadow: 0 0 8rem 2rem rgb(123, 64, 142);
  border-radius: 2px;
}
#city-typed {
  font-size: 42px;
}
.enter-city {
  margin: 0 0 15px;
  font-size: 18px;
}
.updated-date-time {
  margin-top: 60px;
  margin-bottom: 10px;
  position: relative;
  right: 23px;
  font-weight: bold;
  font-size: 16px;
}
.current-temp {
  font-size: 48px;
  position: relative;
  top: -20px;
  margin-bottom: 4px;
}
.units {
  font-size: 22px;
  position: relative;
  top: -35px;
}
a {
  text-decoration: none;
  cursor: default;
  color: rgb(170, 12, 44);
}
.units .active {
  color: #0e041a;
  text-decoration: underline;
  font-size: 26px;
}
.units .active:hover {
  text-decoration: none;
}

.current-temp-emoji {
  margin: 15px 0 1px;
  font-size: 38px;
  position: relative;
  top: -18px;
}
.row {
  text-align: center;
}
.col-3 {
  font-size: 14px;
  margin: 5px 15px 0;
  position: relative;
  bottom: 100px;
  font-weight: 500;
  color: #ddcdcd;
}
.col-2 {
  font-size: 14px;
  margin: 0 auto;
  margin-right: 15px;
  font-weight: 700;
}
.weather-emoji {
  font-size: 24px;
}
.upcoming-temp {
  font-size: 14px;
}
.card {
  background-color: #ffffff;
  transition: all 200ms ease-in-out;
  opacity: 0.8;
}
.card:hover {
  background-color: rgb(23, 5, 63);
  color: #ffffff;
}
